{{ elementLabel }} :

<span ng-repeat="element in elementSelected track by $index">
  <span ng-if="element.name">
     {{ element.name }}
      <span ng-if="!$last"> > </span>
  </span>
</span>

<br />

<span ng-repeat="(level, select) in elementTree">
  <select
          ng-disabled="!select.categories.length"
          ng-model="elementSelected[level]"
          ng-options="obj.name for obj in elementOptions[level] track by obj.id"
          ng-change="update(level)"
          >
      <option value="">{{ elementFirstOption }}</option>
  </select>
</span>
